.login{
  font-size:1.2rem;
}
.login a{
  text-decoration: underline;
}
.login a.btn{
  text-decoration: none;
}
.login a.btn:hover{
  color:white;
}
.login a:hover{
  color:blue;
}
.auth h1{
  font-size:3rem;
  font-weight:bold;
}
.loginForm{
  margin:30px 0;
}

.auth input[type="text"],
.auth input[type="password"],
.auth input[type="email"]{
  border:0;
  border-radius:3px;
  border:1px solid #ccc;
  background:#EDEFF0;
  padding:10px 20px 10px 3px;
  min-width:300px;
}
.auth input[type="text"]:focus,
.auth input[type="password"]:focus,
.auth input[type="email"]:focus{
  border-color:#a5acb0;
  color:#a5acb0;
  box-shadow: 0 0 6px #cdd2d4;
}


.submitArea{
  content: "";
  display: table;
  clear: both;
  margin:20px 0;
}
.submitArea > *{
  float:left;
}

.submitArea p{
  padding:1em;
}



.googleLogin .bold{
  font-weight:bold;
}
