.createBoard{
  position:relative;
  padding:40px 0;
}
.createBoard .bg{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background: #244671;
  width:100%;
  height:100%;
  opacity:0.7;
}
.createBoard .createBoard__content{
  position:relative;
  z-index:999;
}

.btn-createBoard{
  padding:15px 30px;
}
