.mobileSection{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  width:100%;
  max-width:100%;
  font-size:1.3rem;
  min-height:460px;
  background: url('./fox.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  font-size:1.3rem;
}

.mobileSection p{
  max-width:520px;
  margin:15px 0;
}
.mobileSection h3{
  font-size:2rem;
  font-weight:bold;
}



.mobileSection .mobile-ics a{
  margin-right:5px;
  transition:all 0.1s ease-in-out;
}
.mobileSection .mobile-ics a:hover{
  opacity:0.7;
}
.mobileSection .mobile-ics a img{
  width:159px;
}
